px/* Hoja de estilos */

* {
    margin: 0,0;
    padding: 0,0;
}

nav{
   display: flex; /* modelo de flez*/
   background-color: rgb(56, 46, 46);
   justify-content: space-around; /*alineacion horizontal */
   align-items:center; /*en este momento esta es la alineacion vertical*/

}



nav img{
    width: 75px;
}

nav a{

    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight:500;
    transition: 0.6s;

}

nav a:hover{

    background-color: rgb(114, 99, 99);
    color: rgb(201, 185, 185);
    border-radius: 25px;
    scale: 1.5;
    transition: 0.4s;
}

.card img{
    width: 300px;
    height: 300px;
    object-fit: cover; /*para corregirt las imagenes deformes */
}

.card h3{
    font-size:22px;
}



.cards {
          flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    gap:30px;
    margin-top:50px;
}

.card{
  
    display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

